.column {
    flex: 50%;
}

.row {
    display: flex;
}

.header-tag {
    text-align: center;
    font-size: 7rem;
    padding-bottom: 5%;
}

.Resume-Div {
    color: white;
}

.Work-Experiences-Div {
    width: 30%;
}

.Education-Div {
    width: 30%;
}

@media screen and (max-width: 1146px) {
    .column {
        width: 100%;
    }
}