.column {
    flex: 50%;
}

.row {
    display: flex;
    margin: 1% 5%;
}

.header-tag {
    text-align: center;
    font-size: 7rem;
    padding-bottom: 5%;
}

.Resume-Div {
    color: white;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1146px) {
    .column {
        width: 100%;
    }
}